body {
    margin: 0;
    font-family: Arial;
    background: #f3f8f2;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #0b5d2a, #1fa34a);
    padding: 15px;
    color: white;
}

.menu a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

/* SEARCH */
.search input {
    padding: 8px;
}

.search button {
    padding: 8px;
    background: #ffd54f;
    border: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    color: white;

    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url('../images/bg.jpg') center/cover;
}

.hero h1 {
    font-size: 40px;
}

.btn {
    padding: 12px 25px;
    background: #ffd54f;
    border: none;
    font-weight: bold;
}

/* OFFERS */
.offers {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -40px;
}

.offer-card {
    background: #e8f5e9;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

/* PRODUCTS */
.section-title {
    text-align: center;
    margin-top: 40px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card img {
    width: 100%;
}

.card:hover {
    transform: translateY(-5px);
}

/* FOOTER */
.footer {
    background: #0b5d2a;
    color: white;
    text-align: center;
    padding: 15px;
}

/* MOBILE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .offers {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 22px;
    }
}